* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav-back {
    width: 100%;
    height: 70px;
    background-image: linear-gradient( 90.2deg,  rgba(1,47,95,1) -0.4%, rgba(56,141,217,1) 106.1% );
    position: fixed;
    z-index: 80;
}

.mobile-icon {
    position: fixed;
    z-index: 150;
    right: 2%;
    margin-top: 10px;
    display: none;
    cursor: pointer;
}

.mobile-back {
    width: 100%;
    height: 370px;
    background-image: linear-gradient( 90.2deg,  rgba(1,47,95,1) -0.4%, rgba(56,141,217,1) 106.1% );
    position: fixed;
    z-index: 80;
    border-bottom: 2px solid rgba(255, 255, 255, 0.74);
    display: none;
}

.spy {
    width: 100%;
    height: 70px;
    background-image: linear-gradient( 90.2deg,  rgba(1,47,95,1) -0.4%, rgba(56,141,217,1) 106.1% );
}

nav ul {
    position: fixed;
    z-index: 100;
}

nav ul li {
    display: inline-block;
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.49);
    height: 70px;
    text-align: center;
    font-size: 25px;
    padding: 20px;
    margin: -1px;
    
}

nav ul li a {
    color: #d3aa00;
    text-decoration: none;
    text-shadow: 5px 1px 8px #ffffff80;
    font-weight: bold;
    transition: all 0.5s linear;
}


nav ul li a:hover {
    color: #fdce0d;
}


.hledat {
    position: fixed;
    z-index: 200;
    right: 10%;
    margin-top: 20px;
}


.hledat input {
    padding: 5px;
    outline: none;
    
    
}


.hledat input[type="submit"] {
    margin-left: 5px;
}

.footbal-wall {
    background: url(../images/pitch.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.footbal-container {
    display: flex;
    height: 70vh;
    align-items: center;
}

.all-ball {
    flex: 1;
    text-align: center;
    margin: 20px;
    padding: 10px;
}


.all-ball img {
    width: 200px;
}


.ball-one img {
    animation: ball 4s alternate infinite linear;
}

.ball-two img {
    animation: ball-two 5s alternate infinite linear;
}

.ball-three img {
    animation: ball-three 6s alternate infinite linear;
}


.footbal-text {
    display: flex;
    justify-content: center;
/*    border: 2px solid red;*/
    padding: 10px;
}

.footbal-text h1 {
    font-size: 50px;
    font-family: Hobo Std;
    -webkit-text-stroke: #fff 0.5px; 
    text-shadow: -3px -3px 7px #fff;
    padding-bottom: 50px;
}

.heading  {
    display: flex;
    justify-content: center;
}

.heading h1 {
    font-family: Hobo Std;
    font-size: 50px;
    margin-top: 20px;
    background: #6a3093;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a044ff, #6a3093);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a044ff, #6a3093); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 20px 100px;
    border: 1px solid #000;
    border-radius: 10px;
    -webkit-text-stroke: #fff 0.5px; 

}


.heading h1::after {
    content: "";
    display: block;
    height: 5px;
    background: #000;
    margin-top: 10px;
}


.slider-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.slider-container {
    width: 800px;
    height: 400px;
    overflow: hidden;
    margin-top: 20px;
}

.slide img {
    width: 100%;
    height: 100%;
}

.slides {
    display: flex;
    width: 500%;
    height: 100%;
    
}

.slide {
    width: 20%;
    height: 100%;
    transition: 1s;
}


.navigation {
    display: flex;
    margin-top: 20px;
}

.bar {
    width: 25px;
    height: 25px;
    border: 1px solid black;
    margin: 5px;
    border-radius: 50%;
    transition: all 0.5s linear;
}

.bar:hover {
    background: coral;
    cursor: pointer;
}

input[name="r"] {
    display: none;
}


#r1:checked ~ .s1{
    margin-left: 0;
}

#r2:checked ~ .s1{
    margin-left: -20%;
}

#r3:checked ~ .s1{
    margin-left: -40%;
}

#r4:checked ~ .s1{
    margin-left: -60%;
}

#r5:checked ~ .s1{
    margin-left: -80%;
}


.box-container {
    display: flex;
    gap:10px;
    margin: 10px;
    flex-wrap: wrap;
}


.all {
    border: 1px solid #000;
    flex: 1;
    text-align: center;
    padding: 20px;
    min-width: 200px;
    border-radius: 10px;
    -webkit-text-stroke: #fff 2px;
    font-size: 30px;
    box-shadow: 0px 1px 7px 0px #0000004f;
    cursor: pointer;
    transform: scale(1);
    transition: 1s;
    animation: f-box 5s alternate infinite linear;
}

.first-box {
    background-image: radial-gradient( circle 1588px at -27.3% 144%, rgba(255,22,22,1) 0%, rgba(0,0,0,1) 43.4%, rgba(0,0,0,1) 65.8%, rgba(255,22,22,1) 100.2% );
    
    
}

.fourth-box {
    background-image: radial-gradient( circle 762px at 11.2% 17.8%,  rgba(253,243,106,1) 0%, rgba(255,153,1,1) 89.2% );
}

.fifth-box {
    background-image: linear-gradient( 109.5deg,  rgba(37,118,116,1) 10.5%, rgba(39,220,96,1) 68.5% );
    
}

.sixth-box {
    background-image: radial-gradient( circle 427px at 51.8% 56.2%,  rgba(0,122,255,1) 0%, rgba(0,51,102,1) 64.4% );
}
.all:hover {
   transform: scale(1.01);
}

.second-box {
    background-image: linear-gradient( 98.7deg,  rgba(6,238,243,1) 10.6%, rgba(34,126,209,1) 72.2%, rgba(35,44,51,1) 122.5%, rgba(35,44,51,1) 122.5% );
}

.third-box {
    background-image: radial-gradient( circle farthest-corner at 10% 20%, rgba(234,251,86,0.88) 0%, rgba(165,225,27,1) 90% );
}

.por-cont {
    max-width: 1000px;
}


.por-one {
    border: 1px solid #000;
    margin-top: 30px;
}

.por-one img{
    border: 1px solid red;
    margin-left: 0;
}

.table-box {
    margin-top: 30px;
}

.table-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    border: 1px solid #000;
}


.row {
    display: flex;
    border-bottom: 1px solid #000;
    
}

.cell {
    border-right: 1px solid #000;
    flex: 1;
    padding: 10px;
}



.head {
    background: coral;
}


table {
    border: 1px solid #000;
    border-collapse: collapse;
}

th {
    padding: 10px;
    border: 1px solid #000;
}

td {
    padding: 10px;
    border: 1px solid #000;
}


.classic-cont {
    display: flex;
    justify-content: center;
}

.classic-table {
    margin-top: 30px;
}






@keyframes ball {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-40px);
    }
}


@keyframes ball-two {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-35px);
    }
}



@keyframes ball-three {
    0% {
        transform: translateY(0);
    }
    
    100% {
        transform: translateY(-30px);
    }
}

@keyframes f-box {
    0% {
        transform: rotateY(0deg);
    }
    
    100% {
        transform: rotateY(20deg);
    }
}






